<!DOCTYPE html>
<html lang="en">
<head>
    <title>SF5 Checker</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="starterApp" layout="column" ng-controller="MainController as ul" ng-cloak>

<md-toolbar layout="row" class="md-hue-1">
    <md-button class="menu" ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>SF5 Checker</h1>
</md-toolbar>

<div flex layout="row">

    <md-content flex>

        <div ng-cloak layout-gt-sm="row" layout="column">
            <div ng-controller="FeedController as fl" ng-include="'./src/feeds/view/feedList.html'" flex-gt-sm="50" flex></div>
            <div ng-controller="VideoController as fl" ng-include="'./src/videos/view/videoList.html'" flex-gt-sm="50" flex></div>
            <div ng-controller="NicoController as fl" ng-include="'./src/nicos/view/nicoList.html'" flex-gt-sm="50" flex></div>
            <div flex-gt-sm="50" flex ng-cloak>
                <md-toolbar layout="row" class="md-hue-3">
                    <div class="md-toolbar-tools">
                        <ng-md-icon icon="twitter" style="fill: white;"></ng-md-icon>
                        <span>&nbsp;Twitter</span>
                    </div>
                </md-toolbar>
                <md-content>
                    <md-card>
                        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/pktn/lists/sf5-famous"
                           data-widget-id="739120013462802433" data-chrome="noheader" data-tweet-limit="20">
                            Tweets from https://twitter.com/pktn/lists/sf5-famous
                        </a>
                        <script>
                            !function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = p + "://platform.twitter.com/widgets.js";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, "script", "twitter-wjs");
                        </script>
                    </md-card>
                </md-content>
            </div>
        </div>

        <md-button class="share" md-no-ink ng-click="ul.makeContact(ul.selected)"
                   aria-label="Share with {{ ul.selected.name }}">
            <md-icon md-svg-icon="share"></md-icon>
        </md-button>

    </md-content>

</div>

<script src="../node_modules/angular/angular.js"></script>
<script src="../node_modules/angular-animate/angular-animate.js"></script>
<script src="../node_modules/angular-aria/angular-aria.js"></script>
<script src="../node_modules/angular-sanitize/angular-sanitize.js"></script>
<script src="../node_modules/angular-material/angular-material.js"></script>
<script src="../node_modules/moment/moment.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>

<script src="src/main/Main.js"></script>
<script src="src/main/MainController.js"></script>
<script src="src/main/MainService.js"></script>
<script src="src/feeds/Feeds.js"></script>
<script src="src/feeds/FeedController.js"></script>
<script src="src/feeds/FeedService.js"></script>
<script src="src/videos/Videos.js"></script>
<script src="src/videos/VideoController.js"></script>
<script src="src/videos/VideoService.js"></script>
<script src="src/nicos/Nicos.js"></script>
<script src="src/nicos/NicoController.js"></script>
<script src="src/nicos/NicoService.js"></script>

<script src="src/app.js"></script>

</body>
</html>
