<md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
        <ng-md-icon icon="explore" style="fill: white;"></ng-md-icon>
        <span>&nbsp;News&nbsp;({{feeds.length}})</span>
    </div>
</md-toolbar>

<md-content>
    <md-card ng-repeat="feed in feeds" md-on-demand>
        <md-card-header>
            <md-card-avatar>
                <img ng-src="{{feed.site.image}}"/>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{feed.site.name}}</span>
                <span class="md-subhead">{{feed.fromNow}}</span>
            </md-card-header-text>
        </md-card-header>
        <div ng-if="feed.image" layout="row" layout-align="center center">
            <img ng-src="{{feed.image}}" class="md-card-image" alt="Washed Out">
        </div>
        <md-card-title>
            <md-card-title-text>
                <span class="md-title">{{feed.title}}</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content ng-if="feed.summary" ng-bind-html="feed.summary">
        </md-card-content>

        <md-card-footer layout="row" layout-align="end center">
            <md-card-actions>
                <md-button class="md-raised md-primary md-hue-3" layout-align="end center" href="{{feed.link}}" target="_blank">Open</md-button>
            </md-card-actions>
        </md-card-footer>
    </md-card>

    <md-card ng-if="!vl.isDesktop && feeds.length > 0 && data.feeds != feeds"
      md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-divider>
            <md-toolbar class="md-theme-light" ng-click="loadMoreFeeds()">
                <h2 class="md-toolbar-tools">
                    <span class="load-more">Load More</span>
                </h2>
            </md-toolbar>
        </md-divider>
    </md-card>

</md-content>
